body{
    background: #47a5e0;
    background-image: url(whalesrender.png);
    background-size: 100%;
}
h1, h2{
    font-family: 'Bitter', serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
div{
    background: #47a5e0;
    max-width: 400px;
    max-height: 600px;
    box-shadow: 5px 10px 10px #39257d;
    margin: 5px auto;
    border-radius: 6px;
    padding: 56px;
}
#box{
    float: right;
    margin: 56px;
}
#whales{
    margin: 0 auto;
    max-width: 1438px;
    height: auto;
}