body{
    background: #47a5e0;
    background-image: url(whalesrender.png);
    background-size: 100%;
}
h1{
    font-family: 'Bitter', serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
div{
    background: #47a5e0;
    max-width: 400px;
    height: 600px;
    box-shadow: 0px 15px #39257d;
    margin: 5px auto;
}
#box{
    padding:56px;
    margin-left: 200px;
    margin-top: 100px;
}
#whales{
    margin: 0 auto;
    max-width: 1438px;
    height: auto;
}